.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 0 20px;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#614385, #516395);
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  padding: 40px;
  background-color: #fff;
  border-radius: 32px;
}

.title > h1 {
  font-size: 3em;
}

.title > a {
  text-decoration: none;
  color: #303030;
  width: 300px;
  font-size: 2em;
  font-weight: 500;
  background: linear-gradient(0.55turn, #ffecd2, #fcb69f);
  padding: 20px;
  border-radius: 32px;
  text-align: center;
}
